# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\16092\Desktop\1 瑞吉外卖项目\5 瑞吉外卖项目优化篇\代码\day03\reggie_take_out\reggie_take_out\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
